.button {
    border: 1px solid #009CC4;
    height: 55px;
    width: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #009CC4;
}

.button:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #009CC4;
    cursor: pointer;
}
