.article__title {
    font-family: var(--font-unna);
    font-size: 36px;
    line-height: 48px;
    max-width: 1180px;
    margin: 0 auto;
}

.article__text-paragraph {
    margin: 40px auto 0;
    margin-top: 40px;
    font-family: var(--font-pt);
    font-size: 16px;
    max-width: 1180px;
    position: relative;
    padding-left: 42px;
}

.article__text-paragraph-withHeader:first-child {
    font-family: var(--font-unna);
    font-size: 26px;
    line-height: 32.5px;
}

.article__text-paragraph:first-child::before {
    top: 0;
    left: 0;
    content: '';
    height: 66px;
    width: 2px;
    background: #009CC4;
    display: inline-block;
    position: absolute;
}