.tenets__image{
    position: relative;
    width: 100%;
}

.tenets__image img {
    width: 100%;
}

.tennets__image-title {
    background:rgba(255,255,255, 0.75);
    font-family: var(--font-unna);
    font-size: 36px;
    padding: 13px 30px;
    position: absolute;
    bottom: 73px;
    left: 160px;
    color: #4D4D4D;
}
.tenets__list {
    font-family: var(--font-pt);
    display: flex;
    padding: 40px 130px 100px;
    justify-content: space-between;
}

.tenets__list-title {
    color: #009DC4;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.tenets__list-text {
    font-size: 16px;
    max-width: 160px;
}

@media screen and (max-width: 1180px) {
    .tenets__list {
        padding: 40px 60px 100px;
    }
}

@media screen and (max-width: 1030px) {
    .tennets__image-title {
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        height: 65px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .tenets__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tenets__list-text {
        font-size: 16px;
        max-width: 480px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 460px) {
    .tennets__image-title {
        font-size: 28px;
        width: 260px;
    }
}