.header {
    position: relative;
    height: 661px;
    width: 100vw;
    color: #FFFFFF;
    background: linear-gradient(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/city.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header__title {
    position: absolute;
    top: 305px;
    left: 729px;
    width: 752px;
    text-transform: uppercase;
    font-family: var(--font-unna);
    font-size: 62px;
    line-height: 74px;
}

.header__description {
    position: absolute;
    top: 493px;
    left: 729px;
    font-family: var(--font-pt);
    font-size: 36px;
    line-height: 59px;
}