.CoreInvestments {
    background: #F3F0E9;
    padding: 60px 130px 100px;
    color: #4D4D4D;
    font-size: 16px;
    font-family: var(--font-pt);
}

.coreInvestments__tilte {
    text-align: center;
    font-size: 36px;
    font-family: var(--font-unna);
    margin-bottom: 60px;
}

.coreInvestments__header {
    display: flex;
    justify-content: center;
}

.coreInvestments__header-image {
    width: 40%;
}

.coreInvestments__header-image img{
    width: 100%;
}

.coreInvestments__header-image:last-child {
    left: 41%;
}

.coreInvestments__articles {
    display: flex;
    margin-top: 150px;
}

.coreInvestments__articles div {
    padding: 0 8px;
}

.coreInvestments__articles-second {
    margin-top: 40px;
}

@media screen and (max-width: 1180px) {
    .coreInvestments__articles {
        margin-top: 60px;
        flex-direction: column;
    }
}

@media screen and (max-width: 740px) {
    .CoreInvestments {
        padding: 60px 40px 100px;
    }
}