@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&family=Unna&display=swap');


:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-unna: 'Unna', serif;
    --font-pt: 'PT serif', serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    
    --color-bg: #FFFFFF;
    --color-footer : #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}